html {
    font-size: 62.5%;
    
   
}


body {
    margin:0;
    padding: 0;
    background-color: white;

    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
}
/*

@media  {
    body {
        width: 1350px;
    }
}

*/


header {
    width: 100%;
 
    height: 170px;
    background-color: white;
    display: flex;
     flex-direction: column;
  
}

.sectiona {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.sectionb {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.ul-c {
    width: 100%;
    height: 68px;
  
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 1.8rem;
   color: rgb(85, 85, 85);
 padding: 0;
 margin: 25px;
    
}

.li-c {
    padding: 5px 8px;
    border-bottom:  0px solid grey;
    font-size: 1.6rem;
    transition: border ;
    color: grey;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    cursor: pointer;
}


 
 .li-c:hover{
 
    border-bottom:  2px solid grey;
 
  
  }








ul {
    list-style: none;
 
    
}

li {
    margin-right: 10px;
}


.notification {
    width: 46px;
    height: 46px;
    border-radius: 5px;
 
    margin: 0 30px 0 0;

}

.icon__notification {
    width: 24px;
    height: 24px;
    background-color: tomato;
   
}

.notification:hover {
    background-color: white;
}



.avatar__user{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;

    
    margin: 0 30px 0 0;

}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: black;
    margin: -1px 0 0 -1px;
}







.frente {
    width: 95%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin: 0 auto 40px auto;
  
   
}



button {
    width: 155px;
    height: 70px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    outline: none;

}

.screen {
    width: 71.5%;
    height: 310px;
    margin-left: 350px;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  
}

.userfkdkfdkf {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 50px;

}

#ola {
    font-size: 3.6rem;
}

#bv {
    margin-left: 40px;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: nowrap;
}

input {
    width: 60%;
    height: 35px;
    background-color: whitesmoke;
    outline: none;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    
}

::placeholder {
    color: rgb(161, 161, 161);
}

main {
   
    
    
   color: black;
   font-size: 3.5rem;
}


.dashboard {
    width: max-content;
    height: 100%;
    position: absolute;
  
    background: -webkit-linear-gradient( 90deg, black, 
    rgb(10, 10, 10));
    /*background-color: rgb(19, 31, 27);*/
    margin-top: -30px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 3px 20px 40px 0px black;
    overflow: hidden;
    transition: width 1s linear;
    z-index: 99999;
}


.btdsh {
    width: 70px;
    height: 100%;
    background-color: rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: absolute;
    

}


.circleft {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color:whitesmoke;
 
    margin-top: 30px;
    animation: cimabaixo, linear infinite;
}

@keyframes cimabaixo {
   
}



.circle {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color:whitesmoke ;
    opacity: 0.6;
    margin-top: 10px;
}

.circlecl {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: rgb(0, 255, 0);
   
    margin-top: 40px;
    animation: cimabaixo 3.5s linear infinite;
    position: absolute;

    
}

@keyframes cimabaixo {
    20% {
        margin: 25px;
    }

    40%{
        margin: 30px;
    }

    60% {
        margin: 35px;
    }

    80% {
        margin: 30px;
    }
    
    100% {
        margin: 25px;
    }
}


.menu {
    width: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    overflow: hidden;
    transition: width 0.2s linear;
  
}

.menu:hover {
    width: 280px;
    
 
   
}

.itenhgsdfist {
    width: 200;
    height: 40px;
    /*border: 2px solid rgb(29, 65, 59);*/
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background: -webkit-linear-gradient(90deg, rgb(10, 22, 22),
    rgb(15, 34, 34) );
  
   
 

}

.itenhgsdsec {
    width: 200px;
    height: 40px;
    /*border: 1px solid rgb(29, 65, 59);*/
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background: -webkit-linear-gradient(90deg, rgb(12, 26, 26),
    rgb(15, 36, 36) );
   
  
    
 

}

.itenhgsd {
    width: 200px;
    height: 40px;
    
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    /*background-color: rgb(10, 22, 22) ;
    background: -webkit-linear-gradient(90deg, rgb(12, 26, 26),
    rgb(15, 36, 36) );*/
   
  
  
    
 

}

.itenhgsdfist > svg, a, path {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    stroke: rgb(35, 70, 64);
    fill:  rgb(29, 65, 59);
   
  
}

.notification {
    width: 35px;
    height: 35px;
    border-radius: 5px 0 0 5px;
 
    margin: 0 30px 0 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.icon__notification {
    width: 13px;
    height: 13px;
    background-color: rgb(88, 88, 88);
   
}

.notification:hover {
    background-color: white;
}
  

.content {
    display: flex;
    width: 100%;
 
    height: auto;
    
    display: flex;
   flex-wrap: wrap;
}

.trilhas {
    width: 100%;
    margin-bottom: 20px;
 
}

.arq-styles {
    width: 20%;
 
    height: 20vw;

  
   
    display: flex;
align-items: flex-end;
    overflow: hidden;
position: relative;
}

.arq-styles--img {
    width: auto;
    height: 100%;
    transition: transform 2s linear;
    position: absolute;
  

}

.arq-styles--img:hover {
    transform: scale(110%);
}




.style-description {
     width: 100%;
     height: 70px;
     font-size: 1.6rem;
    
     font-weight: 400;
     color: rgb(117, 117, 117);
     z-index: 10;
     display: flex;
     justify-content: left;
     align-items: center;

    
}

.arq-styles--a {
   
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 2.2rem;
}








.style-description p {
    display: none; 
   

}

.style-description button {
    display: none; 
   

}

.style-description:hover {
    width: 90%;
    height: 90%;

    background-color: white;
    transition: all 0.06s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    margin: 0;

}

.style-description:hover p{
    display: block;
    text-align: -moz-center;
text-align: -webkit-center;
 

}

.style-description:hover button{
    display: block;
   
   }

a {
    
    font-size: 3.0rem;
    color: gray;
    font-weight: 700;
   
}

.button-explorar {
    width: 200px;
    height: 35px;
    color: white;
    background-color: rgb(255, 67, 34);
    border-radius: 0px;  
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
  
}

.button-explorar::after {
  content: '';
  margin: 5px;

}







.articles {
    width: 100%;
    height: max-content;
  
  
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}

footer {
    width: 100%;
    height: max-content;
  
    color: black;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}



.articles {
    width: 100%;
    height: auto;
    display: block; 
    justify-content: center;
    
  
   
}

.topic-articles {
    display: flex;
    justify-content: center;
  justify-content: flex-end;
    margin: 30px 20px 20px  20px;


}
.topics {
   width: max-content;
   height: 35px;
   
  
   font-size: 1.6rem;
  
   
   position: relative;
   
   margin: 0 10px;
}


 .topics::before{
     position: absolute;
    content: "";
    margin: 19.5px 50%;
    border-bottom:  3px solid grey;
     width: 0%;
  height: 100%;
  transform: translate(-50%,-50%) ;
   transition: 0.3s all ease;
    overflow:hidden;
  
  }



   .topics:hover::before{
   
  
    width: 100%;
   
  }

.articles .articles-ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.articles .articles-ul .articles-li {
  width: 15%;
  max-height: 65vh;
  color: rgb(122, 122, 122);
  border-radius: 8px;
 
  box-shadow: 6px 6px 10px rgb(228, 228, 228), -6px -6px 10px rgb(228, 228, 228);
  padding: 20px;
  font-size: 1.6rem;
  margin: 11px;
  background-color:white;
  transition: background-color;

}

.articles .articles-ul .articles-li:hover {
    background-color:rgb(240, 240, 240);
}




.articles .articles-ul .articles-li h1 {
    color: rgb(85, 85, 85);
  }

  .articles .articles-ul .articles-li p {
  font-size: 1.6rem;
  max-height: 7.6rem;
  text-transform: none;
  }

.articles .articles-ul .articles-li .articles-more {
    color: rgb(255, 67, 34);
    cursor: pointer;
    }

.articles .articles-ul .articles-li .articles-more:hover {
    color: blue;
}

.articles .articles-ul .articles-li .articles-li--span {
    padding: 5px 8px;
    border-radius: 3px;


    font-size: 1.2rem;
    }

.juridico {
    color:  rgb(33, 10, 49);
    border: 1px solid rgb(33, 10, 49);
}

.financeiro{
    color:  blue;
    border: 1px solid blue;
}

.manutencao{
    color:  rgb(241, 76, 0);
    border: 1px solid rgb(241, 76, 0);
}
.servicos{
    color:  rgb(18, 163, 25);
    border: 1px solid rgb(18, 163, 25);
}

.banner-app {
    width: 100%;
    height: 75px;
    background-color: whitesmoke;
    margin: 20px 0;
}



.app {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
 
    align-items: center;
}


.android {
    display: flex;
    font-size: 1.2rem;
    width: 300px;
    justify-content: space-around;
 
}

.text-androide {
    display: flex;
    width: 200px;
}

.text-google-store {
    width: 50%;
}

.newslatter {
    display: flex;
}
.newslatter-svg {
   width: 60px;
   height: 55px;
   background-color: #92050e;
   border-radius: 7px 0 0 7px;
}

.newslatter-button {
    width: 300px;
   height: 55px;
   background-color: rgb(255, 67, 34);
   border-radius: 0 7px 7px 0;
   display: flex;
   justify-content: left;
   align-items: center;
   

}
.newslatter-button > a {
    font-size: 1.7rem;
    color: white;
    margin-left: 10px;
    /*speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: */

}
s
.downloads {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sitemap {
    display:flex;
    justify-content: center;
}

.contact-ul {
list-style: none;

}
.contact-li{
    width: max-content;
    height: max-content;
    color: rgb(82, 82, 82);
    border-radius: 8px;
    box-shadow: 6px 6px 10px rgb(228, 228, 228), -6px -6px 10px rgb(228, 228, 228);
    padding: 20px;
    margin: 11px 0px;
 
}

.contact-a {
    font-size: 1.6rem;
    color: black;
    margin: 0;
    
}

.contact-a:hover {



font-size: 2.2rem;
color: blue;
}









