//	Usage:

//	<button class="btn [btn__primary] [btn__secondary] [btn__danger] [btn--small] [btn--block]">Source Code</button>

.btn {
	cursor: pointer;
	display: inline-block;
	outline-style: none;

	vertical-align: middle;
	white-space: nowrap;
}