html {
    font-size: 62.5%; 
}

body {
    margin:0;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    position: relative;
    
}

a {
    text-decoration: none;
    color: none;
  
}




header {
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 10;
}
.div-header {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.notification {
    width: 46px;
    height: 46px;
    border-radius: 5px;
 
    margin: 0 30px 0 0;

}

.icon__notification {
    width: 24px;
    height: 24px;
    background-color: tomato;
   
}

.notification:hover {
    background-color: white;
}



.avatar__user{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;

    
    margin: 0 30px 0 0;

}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: black;
    margin: -1px 0 0 -1px;
}





.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.nav-links > a {
    color: black;
  
    border-radius: 8px;
    padding: 8px 15px;
    transition: backgound-color 1s;
}

.nav-links > a:hover{
    background-color: rgb(209, 209, 209);
   
    
}

.div--btn {
    width: max-content;
    height: max-content;
    padding-left: 20px;
    border-left: 1px solid rgb(209, 209, 209);
}

.btn-logout {
    width: max-content;
    height: 35px;
    padding: 0 15px;
    border-radius: 8px;
    background-color: rgb(255, 67, 34);
    margin-right: 7px;
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border: none;
}



.btn-login {
    width: max-content;
    height: 35px;
    padding: 0 15px;
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    color: rgb(78, 78, 78);
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border: 1px solid rgb(207, 207, 207);
}


.section-one {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    overflow: hidden;
}

.section-one > img {
    width: 100%;
    height:fit-content;
    object-fit: cover;
}

.section-one > h2 {
    font-family: "Rubik", sans-serif;
    font-size: 3.0rem;
}

.backlinks--section-one {
    position: absolute;
    width: 35%;
    margin: 200px 0px 0px 100px;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.backlinks--section-one > p {
    font-size: 2.0rem;
    color: rgb(27, 27, 27);
}


.section-link {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgb(255, 67, 34);
    color: white;
}



.section-two { 
    display: flex;
    height: 400px;
}

.desc {
    width: 65%;

}

.backlinks {
    width: 35%;
}

.backlinks--topics {
    width: 100%;
    height: 300px;
    padding: 30px 0;
}

.section-tree {
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
}

.div-numbers {
    width: 50%;
    height: 100%;
  padding: 0;
margin: 0;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.ul-numbers {
    width: 95%;
    height: 95%;
    padding: 5%;
    margin: 0;
}

.li-item {
   width: 100%;
   height:20%;
   
   color: white;
   font-size: 4.0rem;
   font-weight: 700;
   display: flex;
   justify-content: space-around;
   align-items: center;

}

.white {
    background-color: white;
    color: orangered;
}

.p-info {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
}


.section-four {
    width: 100%;
    height: 250px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.section-five {
    width: 100%;
    height: 600px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.div-desc-five {
    width: 50%;
    height: 100%;
  padding: 0;
margin: 0;
    background-color: orangered;
   
}

.div-desc-five-r {
    width: 50%;
    height: 100%;
  padding: 0;
margin: 0;
    background-color: whitesmoke;
   
}






input {
    width: 60%;
    height: 35px;
    background-color: whitesmoke;
    outline: none;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    
}

::placeholder {
    color: rgb(161, 161, 161);
}



.notification {
    width: 35px;
    height: 35px;
    border-radius: 5px 0 0 5px;
 
    margin: 0 30px 0 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.icon__notification {
    width: 13px;
    height: 13px;
    background-color: rgb(88, 88, 88);
   
}

.notification:hover {
    background-color: white;
}


footer {
    width: 100%;
    height: 500px;
}


  







